<!DOCTYPE html>
<html>
<head>
	<title>Moda Top</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="menu">
		<a class="menu" href="indice.html"><img width="130px" src="logo.jpg"></a>
		<a class="menu" onclick="cambio('contactos.html',contactos)">Contactos</a>
		<a class="menu" onclick="cambio('login.html',login)">Iniciar Secion</a>
		<a class="menu" onclick="cambio('registro.html',registro)">Registrate</a>
	</div>
	<div id="demo">
		<div class="portada">
			<h2>Lo ultimo en moda</h2>
		</div>
		<script>
			function cambio(html,funcion){
				var xhttp = new XMLHttpRequest();
  				xhttp.onreadystatechange = function() {
    				if (this.readyState == 4 && this.status == 200) {
      					funcion(this);
   					}
  				};
  				xhttp.open("GET", html, true);
  				xhttp.send();
  			}
  			function contactos(xhttp){
  				document.getElementById("demo").innerHTML=xhttp.responseText;
  			}
  			function registro(xhttp){	
  				document.getElementById("demo").innerHTML=xhttp.responseText;
  			}
		</script>
	</div>
	<div class="piePagina">
		<h1>Pie de pagina
	</div>
</body>
</html>