 
 <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <p>Home / Registro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="col-lg-6 col-md-6" style="max-width: 100%;">
                    <div class="login_part_form">
                        <div class="login_part_form_iner" style="border: none;width: 25%;">
                            

                            <form class="row contact_form" action="register/" method="post">
                                {% csrf_token %}
                                <table align="center" style="width: 100%;">
                                    <tr>
                                        <td HEIGHT="40"><h3>Bienvenido<br>
                                            Ingrese sus Datos</h3><br></td>                                         
                                    </tr>
                                    
                                    <tr>                                        
                                        <td HEIGHT="40"><input type="text" name="first_name" placeholder="Nombre" required></td>
                                    </tr><br>
                                   
                                    <tr>
                                       <td HEIGHT="40"><input type="text" name="last_name" placeholder="Apellidos" required></td>
                                    </tr> <br>
                                    
                                    <tr>                                       
                                        <td HEIGHT="40"><input type="number" name="phone" placeholder="Telefono" required></td>
                                    </tr><br>
                                    
                                    <tr>
                                        <td HEIGHT="40"><input type="text" name="direction" placeholder="Direccion" required></td>
                                    </tr><br>
                                      
                                    <tr>                                
                                        <td HEIGHT="40"><input type="email" name="email" placeholder="Email" required></td>
                                    </tr> <br>                             
                                    
                                    <tr>
                                        <td HEIGHT="40"><input type="password" name="password" placeholder="Contraseña" required></td>
                                    </tr><br>
                                   
                                    <tr>                                        
                                        <td HEIGHT="40"><input type="password" name="password2" placeholder="Contraseña nuevamente" required></td>
                                    </tr><br>
                                                                                                       
                                    <tr>
                                        <td HEIGHT="60"><input type="submit" value="Registrar"></td>
                                    </tr>   <br>                                                               
                                </table>
                                
                            </form>
                            <div>
                                {% for message in messages %}
                                    <h3> {{message}} </h3>
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                </div>