{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/regisropa.css' %}">
    </head>
</html>
<section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <p>Home / Agregar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br>

    <div class="col-lg-6 col-md-6" style="width: 100%;max-width: 100%;">
                    <div class="login_part_form">
                        <h3 style="margin: 0 auto;
                        left: 15%;
                        text-align: center;
                        background-color: #e9ecef;
                        padding: 13px;
                        width: 30.3%;
                        color:gray;">Bienvenido<br>
                            Ingrese los Datos de la prenda</h3><br>  
                        <div class="login_part_form_iner">
                       
                                                     
                            <form method='POST' action="regisropa" enctype="multipart/form-data">{% csrf_token %}
                                
                                {{ form.as_p }}
                                <input type="submit" value="subir"/>
                                
                            </form>
                      
                            <div>
                                {% for message in messages %}
                                    <h3> {{message}} </h3>
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                </div>