{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-5">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="img/product_details/prodect_details_1.png">
                <img src="{{ wear.img.url }}" />
              </div>              
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <h3>{{wear.desc}}</h3>
            <h2>${{wear.price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Categoria</span> : {{wear.name}}</a>
              </li>
              <li>
                <a href="#"> <span>Disponibilidad</span> 
                    {% if wear.quant == 0%}
                    : no Disponible</a> 
                    {% else %}
                    : en Stock</a> 
                    {% endif %}
              </li>
              <li>
                <a href="#"> <span>Oferta</span> 
                    {% if wear.offer%}
                    : Activado </a> 
                    {% else %}
                    : Precio estable</a> 
                    {% endif %}
              </li>
            </ul>
            <p>
               Modatop, es una empresa en arranque que lograra subir por sus logros y alcanzara sus objetivos y ayudara a sus clientes a obtener los mejores productos a un precio comodo.
            </p>
            <div class="card_area">
              
              <div class="product_count d-inline-block">                
                <input class="input-number" type="number" value="{{wear.quant}}" >                
              </div>
              <div class="add_to_cart">
                  {% if wear in current_order_wears%}
                  
                  <a href="/shoping_cart/order-summary/" class="btn_3">go to cart</a>
                  {% else %}
                  <a href="/shoping_cart/add-to-cart/{{wear.id}}/" class="btn_3">add to cart</a>
                  {% endif %}
                  
              </div>
              <div class="social_icon">
                  <a href="#" class="fb"><i class="ti-facebook"></i></a>
                  <a href="#" class="tw"><i class="ti-twitter-alt"></i></a>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}